##### In python we do not have seperate ‘char’ and ‘string’ data types. We just have one data type which is : string

In [14]:
type("a")

str

---

##### 3 Ways to print a variable with a string using a print statement

In [25]:
age = '23'
name = 'Vinayak'

# Way 1
print('My name is:',name, 'and my age is:', age)

# Way 2
print(f'My name is: {name} and my age is: {age}')

# Way 3
print('My name is: {} and my age is: {}'.format(name, age))

My name is: Vinayak and my age is: 23
My name is: Vinayak and my age is: 23
My name is: Vinayak and my age is: 23

* bullet list

**Bold Text**

1. num list
2. num l
3. num l

In [34]:
'This is my /n text'
print('I am vinnu\rHaha haha')

Haha haha

In [44]:
for i in range(1,5):
    print('*'*i, end='')
    print()

*
**
***
****

In [45]:
for i in range(1,5):
    print('*'*i, end='')
    print('')

*
**
***
****

In [46]:
for i in range(1,5):
    print('*'*i, end='')
    print('\r')

*
**
***
****

In [43]:
for i in range(1,5):
    print('*'*i, end='')
    print('\ra')

a
a
a
a

### Assignment :

##### 1.  Print centered star pattern :

In [57]:
level = int(input('Enter the no. of levels that you want in star pattern '))
for i in range(level):
    print(' '*(level-1-i), '*', end='')
    print(' *'*i)

Enter the no. of levels that you want in star pattern 5
     *
    * *
   * * *
  * * * *
 * * * * *